<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.TopicsMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Topics">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="biz" column="biz" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="deletedReason" column="deleted_reason" jdbcType="TINYINT"/>
            <result property="auditStatus" column="audit_status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,biz,name,
        deleted,deleted_reason,audit_status,
        create_time,update_time
    </sql>

    <select id="getByName" resultType="generator.domain.Topics">
        select
        <include refid="Base_Column_List"/>
        from topics
        where name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="getByNames" resultType="generator.domain.Topics">

        select
        <include refid="Base_Column_List"/>
        from topics
        where name in
        <foreach item="item" index="index" collection="names"
                 open="(" separator="," close=")" nullable="true">
            #{item}
        </foreach>

    </select>
</mapper>
