<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.RepliesMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Replies">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="biz" column="biz" jdbcType="INTEGER"/>
            <result property="typ" column="typ" jdbcType="TINYINT"/>
            <result property="subjectId" column="subject_id" jdbcType="BIGINT"/>
            <result property="commentId" column="comment_id" jdbcType="BIGINT"/>
            <result property="fromUid" column="from_uid" jdbcType="INTEGER"/>
            <result property="toUid" column="to_uid" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="deletedReason" column="deleted_reason" jdbcType="TINYINT"/>
            <result property="auditStatus" column="audit_status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,biz,typ,
        subject_id,comment_id,from_uid,
        to_uid,content,ip,
        deleted,deleted_reason,audit_status,
        create_time,update_time
    </sql>

    <resultMap id="getTopNRepliesResultMap" type="generator.domain.Replies">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="commentId" column="comment_id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getTopNReplies" resultMap="getTopNRepliesResultMap">
        with t as (select row_number() over (partition by comment_id order by id) as row_num, comment_id, id, content, subject_id
        from replies
        <if test="commentIds!=null and commentIds.size()>0">
            where comment_id in
            <foreach item="item" index="index" collection="commentIds"
                     open="(" separator="," close=")" nullable="true">
                #{item}
            </foreach>
        </if>
        )

        select comment_id, id, content, subject_id
        from t
        where row_num &lt; #{topN}
    </select>


</mapper>
